<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">E-commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{% url 'products:product_list' %}">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'wishlist:wishlist_detail' %}">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vendors:vendor_dashboard' %}">Vendor Dashboard</a>
      </li>
    </ul>
  </div>
</nav>
